<style>

.form-control:disabled{
    font-weight:bold;
    font-size:17px;
    background-color:white;
}
.inputstyle{
    width:100%;
    height:35px;
    border:1px solid lightgray;
    background-color: #F8F8F8;
    border-radius: 5px;
    outline: none;
  }
</style>


<app-card>
    <div class="sub-title">{{'formtitle.edit'| translate}}
        <em class="fa fa-edit ficon"></em></div><br>
        <div class="panels">
            <div class="panel1" style="width:95%;float:left">
                <form [formGroup]="invoiceForm">

                    <!-- <div class="form-group row">
                        <div class="col-lg-11">
                            <div class="sub-title">Basic Details</div>
                        </div>
                        <div class="col-lg-0">
                            <div id="flip" title="Show & Hide Basic Details">
                                <em class="icofont icofont-rounded-down" cardtoggleevent="" title="Show & Hide Basic Details"></em>
                            </div>
                        </div>
                    </div> -->
                    <div align="right">
                        <button [routerLink]="'/PurchaseInvoice/ViewPurchaseInvoice'" class="btn-round">{{'purchaseinvoice.viewpurchaseinvoice'| translate}}</button>
                    </div><br>
                    <div id="panel">
                
                        <div class="col-lg-4">
            
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label class="form-label">{{'purchaseinvoice.grnnumber'| translate}}&nbsp;
                                    <span class="fontlangifbel">*</span>
                                </label>
                                <input type="text" class="form-control inputline" placeholder="Invoice Number" formControlName="pino" disabled>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label">{{'common.date'| translate}}</label>
                                <input type="date" class="form-control inputline" placeholder="Date" formControlName="pidate">
                                <div class="messages text-danger" *ngIf="invoiceForm.controls.pidate.errors?.required">Enter InvoiceDate</div>
                            </div>
                            <!-- <div class="col-lg-4">
                                <label class="form-label">Invoice No</label>
                                <input type="text" class="form-control inputline" placeholder="Invoice Number" formControlName="vendorinvoiceno">
                                <div class="messages text-danger" *ngIf="invoiceForm.controls.vendorinvoiceno.errors?.required">Enter InvoiceNumber</div>
                            </div> -->
            
                            <div class="col-lg-4">
                                    <label class="form-label">{{'purchaseinvoice.distributorname'| translate}}</label>
                                    <select name="select" class="form-control inputline" formControlName="vendorid" placeholder="" (change)="getDistvalues()">
                                        <option value="opt1" selected disabled>---Select Distributor---</option>
                                        <option *ngFor="let dist of distibutor" value="{{dist[0]}}">{{dist[1]}}</option>
                                    </select>
                                </div>
            
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label class="form-label">{{'purchaseinvoice.deliverytype'| translate}}</label>
                                <input type="text" class="form-control inputline" placeholder="Delivery Type" formControlName="deliverytype">
            
                            </div>
                            <!-- <div class="col-lg-4">
            
                                <label class="form-label">Previous Purchase Item</label>
                                <select name="select" class="form-control inputline" formControlName="previouspurchaseitem" placeholder="">
                                    <option value="opt1" selected disabled>---Previous Purchaseitems---</option>
                                </select>
                            </div> -->
                            <div class="col-lg-4">
                                <label class="form-label">{{'purchaseinvoice.purchaseorder'| translate}}</label>
                                <select  class="form-control inputline" formControlName="refpoid">
                                    <!-- <option value="opt1" selected disabled>-Previous Purchase Order-</option>  -->
                                    <option *ngFor="let po of polist" value="{{po[0]}}">{{po[1]}}</option> 
                                </select>
                            </div>
                        </div>
            
                        <!-- <div class="form-group row">
                          
            
                         
                             <div class="col-lg-4" *ngFor="let dist of distvalues">
                                <label class="col-form-label labal">GST Number</label>
                                <input type="text" class="form-control inputline" placeholder="Goods & Service Tax" formControlName="gst" value="{{dist[1]}}">
                            </div> 
                        </div> -->
                        
                    </div>
            
                    <!-- <div class="form-group row">
                        <div class="col-lg-4">
                                <label class="col-form-label">Product Name</label>
                                <ng-select [options]="characters" placeholder="Search Drug Name" (change)="getProvalues()" (blur)="getProvalues()" (input)="getProduct($event.target.value)"
                                    formControlName="productid">
                                </ng-select>
                        </div>
                    </div> -->
                    <div class="sub-title">{{'purchaseinvoice.productdetails'| translate}}
                        <em class="icofont icofont-rounded-down" style="float:right" cardToggleEvent (click)="toggleCard($event)"></em>
                    </div>
                    <div class="" [@cardToggle]="cardToggle">
                        <div class="">
                            <label class="form-label">{{'purchaseorder.productname'| translate}}</label>
                            <ng-select [options]="characters" placeholder="Search Drug Name"
                                (input)="getProduct($event.target.value)" formControlName="productid">
                            </ng-select>
                        </div><br>
                        <div class="bform">
                            <!-- <label class="form-label">Packaging Type</label> -->
                            <label>{{'purchaseinvoice.packagetype'| translate}}</label> <select  class="" (click)="packingevent($event.target.value)" formControlName = "packageunit">
                                <option>Box</option><option>Strips</option><option>Bottles</option>
                                <option>Containers</option><option>Injectable</option><option>Cartons</option>
                                <option>Lamitubes</option><option>Sachets</option><option>PolyBags</option>
                            </select>
                            <input type="text" class="search ml-1 mt-1" style="background: white;width:85px;padding:7px 0px" placeholder="Enter Quantity" formControlName="boxqty">
                        
                        
                            <!-- <label class="form-label">Packaging Type</label> -->
                           <!-- <label class="ml-3"> Per {{pactype}} No.of: </label> <select type="text" class="" placeholder="Enter " (click)="packingevent1($event.target.value)">
                            <option>Box</option><option>Strips</option><option>Bottles</option>
                            <option>Containers</option><option>Injectable</option><option>Cartons</option>
                            <option>Lamitubes</option><option>Sachets</option><option>PolyBags</option>
                            </select>
                            <input type="text" class="search ml-1 mt-1" style="background: white;width:85px;padding:7px 0px" placeholder="Enter Quantity" formControlName="boxperstrip"> -->
                       
                        
                            <!-- <label class="form-label">Packaging Type</label> -->
                          <label class="ml-3">  Per {{pactype1}} No.of Quantity: </label>
                            <input type="text" class="search ml-1 mt-1" style="background: white;width:85px;padding:7px 0px" placeholder="Enter Quantity" formControlName="boxperstrip" (blur)="quantitycalculation()" >
                        </div>
                    </div>
                    <div class="form-group row" [@cardToggle]="cardToggle">
                        <div class="col-sm-4">
                            <label class="form-label">{{'purchaseinvoice.expirydate'| translate}}</label>
                            <input type="date" class="form-control inputline" placeholder="" (change)="expiryselcalculate($event.target.value)" id="expiryfocus"
                            formControlName="expdate">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">{{'purchaseinvoice.batchno'| translate}}</label>
                            <input type="text" class="form-control inputline" placeholder="Batch No" formControlName="batch" id="batchfocus">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">{{'purchaseinvoice.hsncode'| translate}}</label>
                            <ng-select [options]="hsnlist" placeholder="Search HSN List" formControlName = "hsncode" (click)="fetchng()" (click)="getProvalues()">
                            </ng-select>
                        </div>
                       
                    </div>
                    <div class="form-group row" [@cardToggle]="cardToggle">
                        <div class="col-sm-4">
                            <label class="form-label">{{'purchaseinvoice.gst'| translate}}</label>
                            <input type="text" class="form-control inputline" placeholder="" [(ngModel)]="gstper" formControlName="gstper" >
                        </div>
                    </div>
                    <div class="flow" style="overflow:auto;" formArrayName="brandDetails">
                        <table aria-describedby="mydesc"  class="table styletab">
                                <thead class="stylehead">
                                        <tr>
                                            <!-- <th scope="col">
                                                <input type="checkbox" class="checkAll" style="height:1.4em;width:1.3em"  name="checkAll" />
                                            </th> -->
                                            <th scope="col">{{'common.sno'| translate}}</th>
                                            <th scope="col">Prod Id</th>
                                            <th scope="col">{{'purchaseorder.productname'| translate}}</th>
                                            <th scope="col">{{'salesordernew.dosage'| translate}}</th>
                                            <th scope="col">Form</th>
                                            <th scope="col">{{'purchaseinvoice.manufacturer'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.hsncode'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.packagetype'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.packagequantity'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.unitcount'| translate}} </th>
                                <th scope="col">{{'purchaseinvoice.totalqty'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.freeqty'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.batchno'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.expirydate'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.purchaseprice'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.mrp'| translate}}</th>
                                            <th scope="col">{{'purchaseinvoice.sellingprice'| translate}}</th>
                                            <!-- <th scope="col">Sales Discount%</th> -->
                                            <th scope="col">{{'salesinvoice.discount'| translate}} %</th>
                                            <th scope="col" *ngIf="taxid==0">{{'purchaseinvoice.vat'| translate}}</th>
                                            <th scope="col" *ngIf="taxid==1">{{'purchaseinvoice.gst'| translate}} </th>
                                            <th scope="col" *ngIf="taxid==2"> {{'purchaseinvoice.igst'| translate}} </th>
                                            <th scope="col" *ngIf="taxgstid==1 || taxgstid==2"> {{'purchaseinvoice.cgst'| translate}}  </th>
                                            <th scope="col" *ngIf="taxgstid==1"> {{'purchaseinvoice.sgst'| translate}}  </th>
                                            <th scope="col" *ngIf="taxgstid==2"> UTGST </th>
                                            <th scope="col">{{'salesinvoice.amount'| translate}}</th>
                                            <th scope="col">{{'common.action'| translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="stylebody">
                                    <tr *ngFor="let brand of invoiceForm.controls.brandDetails.controls; let i = index" [formGroupName]="i">
                                            <!-- <td>
                                                <input type="checkbox" name="check" class="tabcheck" id="width1" />
                                            </td> -->
                                                <td id="width2">{{i+1}}</td>
                                                <td>
                                                    <input type="text" formControlName="drugproductrefid"  readonly >
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="productname" id="width6" style="text-align:left"  readonly>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="dosageid"  readonly>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="formulation" id="width5" style="text-align:left" readonly>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="mfg" id="width6" style="text-align:left"  readonly>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="hsncode" id="width3" style="text-align:left"
                                                        readonly><em class="fa fa-plus ml-2" style="cursor:pointer;color:#002e86" (click)="hsnindexpass(i)" ></em>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="packagecount" class="tds tabqfocus" readonly>
                                                   
                                                </td> 
                                                <td>
                                                    <input type="text" formControlName="packcalulation" (blur)="getSum()" class="tds tabqfocus">
                                                   
                                                </td> 
                                                <td>
                                                    <input type="text" formControlName="stripperbox" class="tds tabqfocus" (blur)="getSum()">
                                                   
                                                </td> 
                                                <td>
                                                    <input type="text" formControlName="totalquantity" class="tabqfocus"
                                                        (blur)="getSum()" autofocus>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="freetabletqty" class="ftabletfocus" (change)="getSum()" (click)="getSum()">
                                                    <div *ngIf="brand.hasError('pattern', 'freetabletqty')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="batchid" id="width4" style="text-align:left" class="batchfocus" (change)="getSum()" (click)="getSum()">
                                                </td>
                                                <td>
                                                    <input type="date" formControlName="expirydate" id="width5"  (change)="getSum()" (click)="getSum()">
                                                    <div *ngIf="brand.hasError('required', 'expirydate')" style="color:red;">Invalid Date Format..</div>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="purprice" class="focuss right" (change)="getSum()" (click)="getSum()">
                                                    <div *ngIf="brand.hasError('pattern', 'purprice')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="mrp"  (blur)="getSum()">
                                                </td>
                                                <td>
                                                    <input type="text" formControlName="sellingprice" (blur)="getSum()">
                                                </td>
                                                <!-- <td>
                                                    <input type="text" formControlName="salesdiscount"  (change)="getSum()" (click)="getSum()">
                                                </td> -->
                                                <td>
                                                    <input type="text" formControlName="discount" id="width3" class="purcdisfocus" (blur)="getSum()" >
                                                    <div *ngIf="brand.hasError('pattern', 'discount')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                    
                                                <td *ngIf="taxid==0">
                                                    <input type="text" formControlName="vat" class="vatfocus" id="width2" (blur)="getSum()">
                                                    <div *ngIf="brand.hasError('pattern', 'vat')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                        
                                                <td *ngIf="taxid==1">
                                                    <input type="text" formControlName="gst" id="width2" (blur)="getSum()"
                                                        readonly>
                                                </td>
                                                <td *ngIf="taxid==2">
                                                    <input type="text" formControlName="igst" class="cgstfocus" id="width2" (blur)="getSum()"
                                                       >
                                                    <div *ngIf="brand.hasError('pattern', 'igst')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                                                <td *ngIf="taxgstid== 1 || taxgstid==2">
                                                    <input type="text" formControlName="cgst" class="cgstfocus" id="width2" (blur)="getSum()"
                                                        >
                                                    <div *ngIf="brand.hasError('pattern', 'cgst')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                                                <td *ngIf="taxgstid==1">
                                                    <input type="text" formControlName="sgst" class="sgstfocus" id="width2" (blur)="getSum()"
                                                       >
                                                    <div *ngIf="brand.hasError('pattern', 'sgst')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                                                <td *ngIf="taxgstid==2">
                                                    <input type="text" formControlName="utgst" class="cgstfocus" id="width2" (blur)="getSum()">
                                                    <div *ngIf="brand.hasError('pattern', 'utgst')" style="color:red;">Invalid Charcters..</div>
                                                </td>
                        
                                                <td>
                                                    <input type="text" formControlName="totalproductprice" class="right" readonly>
                                                </td>
                                                <td>
                                                    <!-- <div ngbDropdown class="dropdown-secondary dropdown">
                                                        <button ngbDropdownToggle class="btn btn-mini dropdown-toggle waves-light b-none txt-muted dropDownbutton" type="button"
                                                            id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <em class="icofont icofont-navigation-menu"></em>
                                                        </button>
                                                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown10" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                            <a class="dropdown-item waves-light waves-effect" href="javascript:;">
                                                                <em class="icofont icofont-spinner-alt-5 action" title="Add Free">&nbsp;
                                                                    <span class="tdspan">Add Free</span>
                                                                </em>
                                                            </a>
                                                            <a class="dropdown-item waves-light waves-effect" href="javascript:;">
                                                                <em class="icofont icofont-ui-edit action1" title="Remove Row" (click)="removeRow(i)">&nbsp;
                                                                    <span class="tdspan">RemoveRow</span>
                                                                </em>
                                                            </a>
                                                        </div>
                                                    </div> -->
                                                    <button type="button" class="btn viewbtn" (click)="removeRow(i)">Remove</button>
                                                </td>
                                        </tr>
                                        <tr *ngFor="let item of itemlength; let i=index">
                                            <!-- <td>
                                            <input type="checkbox" name="check" class="tabcheck" id="width1" />
                                        </td> -->
                                            <!-- <td>
                                                <input type="text" id="width2">
                                            </td> -->
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text" id="width1">
                                            </td>
            
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <td>
                                                <input type="text" id="width2">
                                            </td>
                                            <td>
                                                <input type="text" id="width1">
                                            </td>
                                            <td>
                                                <input type="text" id="width2">
                                            </td>
                                            <td *ngIf="taxid==0">
                                                <input type="text">
                                            </td>
                                            <td *ngIf="taxid==1">
                                                <input type="text">
                                            </td>
                                            <td *ngIf="taxgstid==1">
                                                <input type="text">
                                            </td>
                                            <td *ngIf="taxgstid== 1 || taxgstid==2">
                                                <input type="text">
                                            </td>
                                            <td *ngIf="taxid==2">
                                                <input type="text">
                                            </td>
                                            <td *ngIf="taxgstid==2">
                                                <input type="text">
                                            </td>
            
                                        </tr>
                       </tbody>
                        </table>
                    </div>
                    <div class="mr-2 my-2" align="right">
                        <label class="form-label mr-1" style="color:#002e86;font-weight: bold;">{{'purchaseinvoice.cashdiscount'| translate}} <em class="fa fa-money" aria-hidden="true"></em></label>
                        <input type="number" class="inputstyle"  formControlName="cashdiscount" (blur)="getSum()" style="width:100px" />
                        <label class="form-label mr-1" style="color:#002e86;font-weight: bold;">{{'purchaseinvoice.cashdiscount'| translate}}<em class="fa fa-percent" aria-hidden="true"></em></label>
                        <input type="number" class="inputstyle"  formControlName="cashdiscountpercent" (blur)="getSum()" style="width:100px" />
                    </div>
                    <div class="row" style="border-color:#002e86;border-width:1px;border-style:solid;">
                        <div class="col-lg-7" style="overflow:auto">
                          <table aria-describedby="mydesc">
                              <tbody>
                                  <tr>
                                  <td>
                                      <tr>
                                          <td>
                                              <tr>
                                                  <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.totalproducts'| translate}}:</th>
                                                  <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.totalproduct.value}}</td>
                                              </tr>
                                          </td>
                                          <td class="pl-3">
                                              <tr>
                                                  <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.freeqty'| translate}}:</th>
                                                  <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.totalfreeqty.value}}</td>
                                                  <!-- <td style="font-weight:bold; font-size: 1em;">
                                                    <input type="number" class="inputstyle"  formControlName="totaldiscount" style="width:100px" (blur)="amountdisccalc()"/>
                                                  </td> -->
                                                </tr> 
                                          </td> 
                                          <td class="pl-3">
                                            <tr>
                                                <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.discamount'| translate}}:</th>
                                                <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.totaldiscount.value}}</td>
                                              </tr> 
                                          </td> 
                                          <td class="pl-3">
                                            <tr>
                                                <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.totalmargin'| translate}}:</th>
                                                <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.totalmargin.value}}</td>
                                              </tr> 
                                          </td>       
                                      </tr><br>
                                      <tr>
                                          <td>
                                              <tr>
                                                  <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.totalquantity'| translate}}:</th>
                                                  <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.totalquantity.value}}</td>
                                              </tr>
                                          </td>
                                          <td class="pl-3">
                                              <tr>
                                                  <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.totaltaxamount'| translate}}:</th>
                                                  <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.totaltaxamt.value}}</td>
                                                </tr> 
                                          </td> 
                                          <td class="pl-3">
                                            <tr>
                                                <th scope="col" style="font-weight: normal;">{{'purchaseinvoice.roundoffamt'| translate}}:</th>
                                                <td class="ml-2" style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.roundoff.value}}</td>
                                              </tr> 
                                          </td>   
                                          <td class="pl-3">
                                            <label class="form-label semibold" for="exampleInput">{{'purchaseinvoice.subtotal'| translate}}:</label>
                                            <label class="ml-2"style="font-weight:bold; font-size: 1em;">{{invoiceForm.controls.itemamt.value}}</label> 
                                            </td>     
                                      </tr> 
                                  </td> 
                                 
                                  </tr>
                              </tbody>
                          </table>
                        </div>
                        <div class="col-lg-2" align="right">
                          <label class="form-label pt-4"  style="font-size: 1.4em;">{{'purchaseinvoice.grandtotal'| translate}}:</label>
                        </div>
                        <div class="col-lg-3" style="background-color:#002e86;color:white" align="right"> 
                          <label class="" style="font-weight:bold; font-size: 3.1em;">
                           {{invoiceForm.controls.grandtotal.value}}</label><br>
                        </div>
                      </div>
                      <div align="center">
                        <img src="assets/images/saveload.gif" alt="loading" class="mt-2" *ngIf="saveprocess">
                    </div><br>
                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <button type="button" [disabled]="!invoiceForm.valid" (click)="onSubmit()" class="btn-round">{{'common.save'| translate}}</button>
                        </div>
                        <!-- <div class="col-lg-1"><label (click)="reportlink()">..</label></div> -->
                    </div>
              
                </form>
            </div>
            <div [ngClass]="hsnpop?'showtop':'hidetop'" align="center">
                <form [formGroup] = "pophsnform">
                     <div class="modalcont animated fadeindown" style="height:250px">
                         <div class="modal-header">
                             <label class="form-label">{{'purchaseinvoice.addhsncode'| translate}}</label>
                             <em class="fa fa-close" (click)="hsnpop=false" style="cursor:pointer"></em>
                         </div><br>
                         <div class ="row">
                             <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                             <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                 <label class="form-label semibold" for="exampleInput">{{'purchaseinvoice.hsncode'| translate}}</label><br>
                                 <ng-select [options]="pophsnlist" placeholder="Search HSN List" class="" formControlName = "pophsnlist" (click)="popfetchhsn()" >
                                 </ng-select>
                             </div>
                             <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                 <label class="form-label semibold" for="exampleInput">{{'purchaseinvoice.gst'| translate}}</label><br>
                             <input type="text" class="inputstyle" [(ngModel)]="popgstper" formControlName="popgstvalue"
                                 style="font-weight:bold;font-size:19px;"/>
                             </div>
                             <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                         </div>
           
                         <br>
         
                         <div class="mr-4" align="right">
                             <!-- <button *ngIf="saveenable==1" class="btn-round" (click)="saveNewProduct()">Save New
                                 Product</button> -->
                             <button class="popbtn-round" (click)="hsninsert()">{{'purchaseinvoice.insert'| translate}}</button>
                         </div><br>
         
                     </div>
                     <!--Modal Content End-->
         </form>
                 </div>
            <div class="panel2" style="width:5%;float:right">
                <app-rightpanel [rightpanelData]="parentMessage"></app-rightpanel>
            </div>
        </div>
 
</app-card>
<ng2-toasty [position]="'center-center'"></ng2-toasty>