
		<app-card>
			<div class="sub-title">{{'employeeinfo.employeedetails'| translate}}
				<em class="fa fa-user ficon"></em>
			</div>
			<table aria-describedby="mydesc" style="width:100%">
			<tbody>
			  <tr>
			  <td style="width:95%">
				<div class="" align="right">
					<button class="btn-round" [routerLink]="['/EmployeeRegister/ViewEmployee']">{{'employeeinfo.viewemployeedetails'| translate}}</button>
				</div>
				<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mx-2" autocomplete="off">
					<div class="form-group row">
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeetitle'| translate}}</label>
							<select name="select" class="form-control" formControlName="emptitle">
								<option value="opt1" disabled selected>-- Select Title --</option>
								<option value="Mr">Mr.</option>
								<option value="Mrs">Mrs.</option>
								<option value="Ms">Ms.</option>
							</select>	
						</div>
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeefirstname'| translate}}
								<span class="fontlangifbel">*</span>
							</label>
							<!-- appTitleCase [(ngModel)]="firstname" -->
							<input type="text"  class="form-control" placeholder="Enter Employee First Name"	 
							formControlName="empfirstname" autocomplete="off">
							<!-- <div class="messages text-danger" *ngIf="myForm.controls.empfirstname.errors?.required">This
								Field is Required*</div> -->
							<div class="messages text-danger" *ngIf="myForm.controls.empfirstname.errors?.pattern">Text
								Only Accepts!</div>
						</div>
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeelastname'| translate}}</label>
							<input type="text" class="form-control" placeholder="Enter Employee Last Name"
								formControlName="emplastname" autocomplete="off">
							<div class="messages text-danger" *ngIf="myForm.controls.emplastname.errors?.pattern">Text
								Only Accepts!</div>
						</div>	
					</div>
					<div class="form-group row">
						<div class="col-lg-4">
							<label class="form-label mb-2">{{'employeeinfo.employeegender'| translate}}<span class="fontlangifbel">*</span></label><br>
							<label>
								<input type="radio" value="Male" name="gender" formControlName="gender"> Male
							</label>
							<label>
								<input type="radio" value="Female" name="gender" formControlName="gender">Female
							</label>
						</div>
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeemode'| translate}}</label>
							<select name="select" class="form-control" formControlName="employeemode">
								<option value="opt1" disabled selected>-- Select Title --</option>
								<option value="Permanent">Permanent</option>
								<option value="Temprorary">Temporary</option>
								<option value="Consulting">Consulting</option>
								<option value="Studentjob">Student Job</option>
								<option value="Flexyhoursjob">Flexi hours Job</option>
							</select>
						</div>
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeetype'| translate}}</label>
							<select name="select" class="form-control" formControlName="employeetype">
								<option value="opt1" disabled selected>-- Select Title --</option>
								<option value="Fulltimehourly">Full Time Hourly</option>
								<option value="Parttimesalaried">Part Time Salaried</option>
								<option value="Contractor">Contractor</option>
								<option value="Sub-Contractor">Sub-Contractor</option>
								<option value="Apprentices">Apprentices or Trainees</option>
							</select>		
						</div>
					</div>
					<div class="form-group row">
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.department'| translate}}</label>
							<select name="select" class="form-control" placeholder="Select Department"
								formControlName="department"
								(change)="getSubDepartment()">
								<option selected disabled value="0">---Select Department---</option>
								<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
								</option>
							</select>
							<button type="button" class="px-2 py-1" style="background-color: #002e86;color:white;cursor: pointer;"
							(click)="searchwithcodefordept('dept',deptmodel)">{{'employeeinfo.adddepartment'| translate}}</button>
							<!-- <option value="dept" style="background-color: #5aa02c;color:white"> Add Department
							</option> -->
						</div>
					
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.subdepartment'| translate}}</label>
							<select name="select" class="form-control" placeholder="Select Sub Department"
								formControlName="subdepartment" (change)="getDivision()">
								<option selected disabled value="0">---Select Sub Department---</option>
								<option *ngFor="let subdept of subdepartmentarr;" value="{{subdept[0]}}"> {{subdept[1]}}
								</option>									
							</select>	
							<button type="button" class="px-2 py-1" style="background-color: #002e86;color:white;cursor: pointer;"
							(click)="searchwithcodeforsubdept('subdept', subdeptmodel)">{{'employeeinfo.addsubdepartment'| translate}}</button>
						</div>
						
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.division'| translate}}</label>
							<select name="select" class="form-control" placeholder="Select Division"
								formControlName="division" (change)="getSubDivision()">
								<option selected disabled value="0">---Select Division---</option>
								<option *ngFor="let division of divsionarr;" value="{{division[0]}}"> {{division[1]}}
								</option>								
							</select> 
							<button type="button" class="px-2 py-1" style="background-color: #002e86;color:white;cursor: pointer;"
							(click)="searchwithcodefordivision('division', divsionmodel)">{{'employeeinfo.adddivision'| translate}}</button>
						</div>
				
					</div>
	
	
					<div class="form-group row">
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.subdivision'| translate}}</label>
							<select name="select" class="form-control" placeholder="Select Sub Division"
								formControlName="subdivision">
								<option selected disabled value="0">---Select Sub Division---</option>
								<option *ngFor="let subdivision of subdivsionarr;" value="{{subdivision[0]}}">
									{{subdivision[1]}}
								</option>
							</select>
							<button type="button" class="px-2 py-1" style="background-color: #002e86;color:white;cursor: pointer;"
							(click)="searchwithcodeforsubdivsion('subdivision', subdivsionmodel)">{{'employeeinfo.subdivision'| translate}}</button>
						</div>
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.designation'| translate}}</label>
							<input type="text" class="form-control" id="desgination" autocomplete="off"
								placeholder="Enter Employee Desgination" formControlName="desgination">
							<div class="messages text-danger" *ngIf="myForm.controls.desgination.errors?.pattern">Text
								only Accepts!</div>
						</div>
	
					
						<div class="col-lg-4">
							<label class="form-label semibold">{{'employeeinfo.dateofjoin'| translate}}
								<span class="fontlangifbel">*</span>
							</label>
							<input type="date" class="form-control" placeholder="Enter your joining date" autocomplete="off"
								required="true" formControlName="joiningdate" (change)="daycalculate($event.target.value)">
							<!-- <div class="messages text-danger" *ngIf="myForm.controls.joiningdate.errors?.required">This
								Field is Required*</div> -->
						</div>
					
					</div>
	
	
	
					<div class="form-group row">
	
						<div class="col-lg-4">
							<label class="form-label mb-2">{{'employeeinfo.allowlogin'| translate}}</label><br>
							<label>
								<input type="radio" value="Yes" name="allowlogin" formControlName="allowlogin">Yes
							</label>
							<label>
								<input type="radio" value="No" name="allowlogin" formControlName="allowlogin">No
							</label>
						</div>
	
						<div class="col-lg-4">
							<label class="form-label semibold">{{'employeeinfo.dateofbirth'| translate}}
								<span class="fontlangifbel">*</span>
							</label>
							<input type="date" class="form-control" placeholder="Enter Employee DOB"
								formControlName="dob" (change)="agecalculate($event.target.value)" autocomplete="off">
							<!-- <div class="messages text-danger" *ngIf="myForm.controls.dob.errors?.required">This
								Field is Required*</div> -->
							<div class="messages text-secondary" *ngIf="calculatedage>0" style="font-weight:bold">Age: {{calculatedage}}</div>
						</div>
	
						<div class="col-lg-4">
							<label class="form-label semibold">{{'employeeinfo.employeemobileno'| translate}}
								<span class="fontlangifbel">*</span>
							</label>
							<input type="number" class="form-control" placeholder="Enter Employee MobileNo"
								required="true" formControlName="mobileno" autocomplete="off">
							<!-- <div class="messages text-danger" *ngIf="myForm.controls.mobileno.errors?.required">This
								Field is Required*</div> -->
						</div>
	
					</div>
	

					<div class="form-group row">
						
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeeemailid'| translate}}</label>
							<input type="text" onkeyup="this.value = this.value.toLowerCase();" class="form-control"
								id="email" placeholder="Enter Employee Mail id" formControlName="email" autocomplete="off">
							<div class="messages text-danger" *ngIf="myForm.controls.email.errors?.pattern">Enter Valid Email!</div>
								
						</div>
	
						<div class="col-lg-4">
							<label class="form-label">{{'employeeinfo.employeephoto'| translate}}<span class="text-muted">{{'employeeinfo.size' | translate}}</span></label>
								
							<div class="form-inline">
								<input type="file" class="form-control" id="imagefile"
								(change)="empphotoChange($event)" #fileInput accept="image/*"/>
	
								<span class="fa fa-eye mt-2" style="cursor: pointer" (click)="imageshow()" *ngIf="showeye"></span>
								<span class="fa fa-eye-slash mt-2" style="cursor: pointer" (click)="hide()" *ngIf="showeyeslash"></span>
								<span class="fa fa-trash mt-2 ml-2" style="cursor: pointer" (click)="reset()"></span>
							</div><br>
							<div class="imageview" *ngIf="showimage">
								<img [src]="imgURL" alt="altitem" height="180" width="260"/>
							</div>
							<span style="color:red;" *ngIf="message">{{message}}</span>					
						</div>
	
						<!-- <div class="col-lg-4">
							<label class="form-label">Employee Signature (Upload Size Max 500 KB)</label>

							<div class="form-inline">
								<input type="file" class="form-control" id="signfile"
								(change)="signChange($event)" #fileInput accept="image/*"/>
								<span class="fa fa-eye mt-2" style="cursor: pointer" (click)="signshow()" *ngIf="signshoweye"></span>
								<span class="fa fa-eye-slash mt-2" style="cursor: pointer" (click)="signhide()" *ngIf="signshoweyeslash"></span>
								<span class="fa fa-trash mt-2 ml-2" style="cursor: pointer" (click)="signreset()"></span>
							</div><br>
	
							<div class="imageview" *ngIf="signshowimage">
							<img [src]="signimgURL" alt="altitem" height="180" width="260"/>
							</div>
							<span style="color:red;" *ngIf="signmessage">{{signmessage}}</span>						
						</div>	 -->
							
						</div>

						<div class="" align="center" *ngIf="saveprocess"><br>
							<img src="assets/images/saveload.gif" alt="loading" class="mt-2">
						</div>
	
						<div class="form-group row">
							<div class="col-lg-1"></div>
							<div class="col-lg-3">
								<button type="submit"  class="btn-round" [disabled]="!myForm.valid">Save</button>
							</div>
						</div>
	
	
					<ng-template #deptmodel let-c="close" let-d="dismiss">
						<div class="modal-header">
							<label class="form-label"> {{'employeeinfo.adddepartment'| translate}}</label>
							<em class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></em>
						</div>
						<img src="assets/images/poptab.jpg" alt="poptab" class="mt-4 modimg"><br>
	
						<div class="modal-body mx-5">
							<input class="form-control" id="genericnumber" formControlName="departmentname"
								placeholder="Enter Department Name" autocomplete="off"/>
	
						</div>
						<div class="modal-footer">
							<label class="btn modbtn" id="type" (click)="saveDepartment(c)">{{'employeeinfo.savedepartment'| translate}}</label>
	
						</div>
					</ng-template>
	
	
	
					<ng-template #subdeptmodel let-c="close" let-d="dismiss">
						<div class="modal-header">
							<label class="form-label"> {{'employeeinfo.addsubdepartment'| translate}}</label>
							<em class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></em>
						</div>
						<img src="assets/images/poptab.jpg" alt="poptab" class="mt-4 modimg"><br>
	
	
						<div class="modal-body mx-5">
	
							<!-- <select name="select" class="form-control" placeholder="Select Main Group" formControlName="">
								<option selected disabled value="0">---Select Department---</option>
	
							</select><br> -->
	
							
							<select name="select" class="form-control" placeholder="Select Department"
									formControlName="department"
									(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
									<option selected disabled value="0">---Select Department---</option>
									<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
									</option>
								</select> <br>
	
	
						
	
							<input class="form-control" id="genericnumber" formControlName="subdepartmentname"
								placeholder="Enter Sub Department Name" autocomplete="off"/>
	
						</div>
						<div class="modal-footer">
							<label class="btn modbtn" id="type" (click)="saveSubDepartment(c)">{{'employeeinfo.savesubdepartment'| translate}}</label>
	
						</div>
					</ng-template>
	
					<ng-template #divsionmodel let-c="close" let-d="dismiss">
						<div class="modal-header">
							<label class="form-label"> {{'employeeinfo.adddivision'| translate}}</label>
							<em class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></em>
						</div>
						<img src="assets/images/poptab.jpg" alt="poptab" class="mt-4 modimg"><br>
	
	
						<div class="modal-body mx-5">
	
							
	
							<select name="select" class="form-control" placeholder="Select Department"
									formControlName="department"
									(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
									<option selected disabled value="0">---Select Department---</option>
									<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
									</option>
								</select> <br>
	
								<select name="select" class="form-control" placeholder="Select Sub Department"
								formControlName="subdepartment"
								(change)="searchwithcodeforsubdept($event.target.value, subdeptmodel)"
								(change)="getDivision()">
								<option selected disabled value="0">---Select Sub Department---</option>
								<option *ngFor="let subdept of subdepartmentarr;" value="{{subdept[0]}}"> {{subdept[1]}}
								</option>
							</select> <br>
	
	
	
							<input class="form-control" id="genericnumber1" formControlName="divisionname"
								placeholder="Enter Division Name" autocomplete="off"/>
	
						</div>
						<div class="modal-footer">
							<label class="btn modbtn" id="type" (click)="saveDivision(c)">{{'employeeinfo.savedivision'| translate}}</label>
	
						</div>
					</ng-template>
	
	
	
					<ng-template #subdivsionmodel let-c="close" let-d="dismiss">
						<div class="modal-header">
							<label class="form-label"> {{'employeeinfo.addsubdivision'| translate}}</label>
							<em class="fa fa-times" (click)="c('Close click')" style="cursor:pointer"></em>
						</div>
						<img src="assets/images/poptab.jpg" alt="poptab" class="mt-4 modimg"><br>
	
	
	
						<div class="modal-body mx-5">
	
							<select name="select" class="form-control" placeholder="Select Department"
							formControlName="department"
							(change)="searchwithcodefordept($event.target.value, deptmodel);getSubDepartment()">
							<option selected disabled value="0">---Select Department---</option>
							<option *ngFor="let dept of departmentarr;" value="{{dept[0]}}"> {{dept[1]}}
							</option>
						</select> <br>
	
	
	
						<select name="select" class="form-control" placeholder="Select Sub Department"
						formControlName="subdepartment"
						(change)="searchwithcodeforsubdept($event.target.value, subdeptmodel)"
						(change)="getDivision()">
						<option selected disabled value="0">---Select Sub Department---</option>
						<option *ngFor="let subdept of subdepartmentarr;" value="{{subdept[0]}}"> {{subdept[1]}}
						</option>
					</select> <br>
	
	
	
					<select name="select" class="form-control" placeholder="Select Division"
					formControlName="division"
					(change)="searchwithcodefordivision($event.target.value, divsionmodel)"
					(change)="getSubDivision()">
					<option selected disabled value="0">---Select Division---</option>
					<option *ngFor="let division of divsionarr;" value="{{division[0]}}"> {{division[1]}}
					</option>
				</select> <br>
	
	
							<input class="form-control" id="genericnumber2" formControlName="subdivisionname"
								placeholder="Enter Subdivision Name" autocomplete="off"/>
	
						</div>
	
						<div class="modal-footer">
							<label class="btn modbtn" id="type" (click)="saveSubDivision(c)">{{'employeeinfo.savesubdivision'| translate}}</label>
	
						</div>
					</ng-template>
				</form>	
			  </td>
			  <td style="width:5%" valign="top">
				<app-rightpanel [rightpanelData]="parentMessage"></app-rightpanel>
			  </td>
			  </tr>
			</tbody>
			</table>
		
		</app-card>
	<ng2-toasty [position]="position"></ng2-toasty>
	