<style>
  .table td, .table th {
      padding: 0.4em 1.75rem;
      vertical-align: top;
      border-top:none !important;
  }
    
	.blurtext{
	  color: transparent;
	  text-shadow: 0 0 1px #868e96;
	}
</style>
<app-card>
  <div class="sub-title">Customize Form Assign
		<em class="fa fa-edit ficon"></em>
	</div>
  <div class="container">
    <form [formGroup]="customizeForm">
      <br>
      <div class="mx-2" align="center">
        <ng-select [options]="customerlist" class="inputstyle" id="customfocus" formControlName="customerrefid" placeholder="Search Customer Name" 
        (change)="getcustomizelabel()" (click)="getcustomizelabel()" style="width:385px;" #custfocus> </ng-select>
      </div><br><br>
      <div class="flow" style="max-height:650px;border:none">
				<table aria-describedby="mydesc" class="table" style="width:100%">
					<tr>
					  <td style="width:30%;border-right: 1px solid #b3b3b3">
						<h4 class="text-secondary px-3" style="font-weight:bold;text-align: center;"><u>Lables List</u></h4><br>
						<!-- <div class="" align="left" *ngIf="customizeForm.controls.lablearray.controls.length>0">
							<input type="checkbox" formControlName="lableallcheck" id="width1" class="ml-3" (click)="loadAllModules($event)"/>
							<label class="text-secondary pl-2" style="font-weight:bold">Select All</label>
						</div> -->
						<div class="" formArrayName="lablearray">
							<tr *ngFor="let address of customizeForm.controls.lablearray.controls; let i=index" [formGroupName]="i">
							  <td>
								<input type="checkbox" formControlName="lablecheck" id="width1"
								(click)="loadModules(i)"/>
								<input type="text" class="ml-2" formControlName="lablename" id="width5" style="text-align: left;border:none" readonly/>
							  </td>
							</tr>
						</div><br>
					  </td>
            <td style="width:35%;border-right: 1px solid #b3b3b3">
              <h4 class="text-secondary px-3" style="font-weight:bold;text-align: center;"><u>Modules List</u></h4><br>
              <!-- <div class="" align="left" *ngIf="customizeForm.controls.modulearray.controls.length>0">
                <input type="checkbox" formControlName="moduleallcheck" id="width1" class="ml-3" (click)="loadallsubmodules($event)"/>
                <label class="text-secondary pl-2" style="font-weight:bold">Select All</label>
              </div> -->
              <div class="" formArrayName="modulearray">
                <tr *ngFor="let address of customizeForm.controls.modulearray.controls; let i=index" [formGroupName]="i">
                <td class="ml-2">
                  <div *ngIf="labelnames[i].lindex==1" align="left">
                  <label style="font-weight:bold;color:#5aa02c"><u>{{labelnames[i].lname}}</u></label><br>
                  </div>
                  <input type="checkbox" class="ml-4" formControlName="modulecheck" id="width1" (click)="loadsubmodules(i)"/>
                  <input type="text" class="ml-2" formControlName="modulename" id="width5" style="text-align: left;border:none" readonly/>
                </td>
                </tr>
              </div><br>
            </td>
            <td style="width:35%">
              <h4 class="text-secondary px-3" style="font-weight:bold;text-align: center;"><u>Sub-Modules List</u></h4><br>
              <!-- <div class="" align="left" *ngIf="customizeForm.controls.submodulearray.controls.length>0">
                <input type="checkbox" formControlName="submoduleallcheck" id="width1" class="ml-3" (click)="selectallsubmodules($event)"/>
                <label class="text-secondary pl-2" style="font-weight:bold">Select All</label>
              </div> -->
              <div class="" formArrayName="submodulearray">
                <tr *ngFor="let address of customizeForm.controls.submodulearray.controls; let i=index" [formGroupName]="i">
                <td class="ml-2">
                  <div *ngIf="modulenames[i].mindex==1"  align="left">
                  <label style="font-weight:bold;color:#5aa02c"><u>{{modulenames[i].mname}}</u></label><br>
                  </div><!---->
                  <input type="checkbox" class="ml-4" formControlName="submodulecheck" id="width1"/>
                  <input type="text" class="ml-2" formControlName="submodulename" id="width5" style="text-align: left;border:none" readonly/>
                </td>
                </tr>
              </div>
            </td>
					</tr>
				</table>
			</div><br><br>
      <div class="col-lg-4">
				<button type="button" class="btn-round" (click)="savemodules()">Save</button>
		  </div>
    </form>
  </div>
  <ng2-toasty [position]="'center-center'"></ng2-toasty>
</app-card>