<style>
    #swidth {
        width: 270px;
    }
</style>
<app-card>
    <div class="sub-title">{{'finance.payments'| translate}}
        <em class="fa fa-paypal ficon"></em>
    </div>
    <div class="panels">
        <div class="panel1" style="width:95%;float:left">
            <form [formGroup]="registerForm" class="mx-2">
                <div class="box-typical box-typical-padding">
                    <div align="right">
                        <button [routerLink]="'/Payment/ViewPayment'" class="btn-round">{{'finance.viewpayments'| translate}}</button>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label class="form-label semibold" for="exampleInput"> {{'finance.paymentmode'| translate}}</label>
                            <select class="form-control" (change)="paymode($event.target.value)">
                                <option value="opt1" disabled>--Select Mode--</option>
                                <option value="1">Vendor</option>
                                <option value="2">Customer</option>
                                <option value="3">Employee</option>
                                <option value="4">Invoice</option>
                                <option value="5">Others</option>
                            </select>
                        </div>

                        <div class="col-lg-4" *ngIf="paymentmode == 4">
                            <label class="form-label semibold" for="exampleInput">{{'finance.invoicetype'| translate}}</label>
                            <select class="form-control" (change)="selectinvoice($event.target.value)"
                                formControlName="typeflag">
                                <option value="1">Purchase Invoice</option>
                                <option value="2">Sales Return</option>
                            </select>

                        </div>


                        <div class="col-lg-4" *ngIf="paymentmode == 1">
                            <label class="form-label semibold" for="exampleInput">{{'finance.name'| translate}}</label>
                            <ng-select [options]="distributors" placeholder="Search Vendor"
                                (change)="getvendorinvdetails()" (click)="getvendorinvdetails()"
                                formControlName="vendornoref">
                            </ng-select>
                        </div>
                        <div class="col-lg-4" *ngIf="paymentmode == 2">
                            <label class="form-label" for="exampleInput">{{'finance.name'| translate}}</label>
                            <ng-select [options]="customers" class="inputstyle" placeholder="Search Customer"
                                (change)="getcustomerretdetails()" (click)="getcustomerretdetails()"
                                formControlName="customerid"></ng-select>
                        </div>
                        <div class="col-lg-4" *ngIf="paymentmode == 5">
                            <label class="form-label semibold" for="exampleInput"> {{'finance.name'| translate}}
                            </label>
                            <input type="text" class="form-control" (blur)="otherpaymentdetails()"
                                formControlName="personame" />
                        </div>
                        <div class="col-lg-4" *ngIf="paymentmode == 3">
                            <label class="form-label" for="exampleInput">{{'finance.name'| translate}}</label>
                            <ng-select [options]="employee" class="inputstyle" placeholder="Search Employee"
                                (click)="getEmployeedetails()" formControlName="employeeid"></ng-select>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label semibold" for="exampleInput"> {{'finance.journaldate'| translate}}</label>
                            <input type="date" class="form-control" formControlName="date" />
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4" *ngIf="invoiceno && paymentmode == 4">
                            <label class="form-label semibold" for="exampleInput">{{'finance.invoiceno'| translate}}
                                <span style="color:red">*</span></label>
                            <ng-select [options]="invoicenodata" placeholder="Type: PIV0000"
                                (change)="getinvoicedetails()" (click)="getinvoicedetails()"
                                (input)="getinvoiceno($event.target.value)" formControlName="invoicenoref">
                            </ng-select>
                        </div>
                        <div class="col-lg-4" *ngIf="returnno && paymentmode == 4">
                            <label class="form-label semibold" for="exampleInput">{{'finance.returnno'| translate}}
                                <span style="color:red">*</span></label>
                            <ng-select [options]="returnnodata" placeholder="Type: SLS/RET/0000"
                                (change)="getreturndetails()" (click)="getreturndetails()"
                                (input)="getreturnno($event.target.value)" formControlName="invoicenoref">
                            </ng-select>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label semibold" for="exampleInput"> {{'finance.paymenttype'| translate}}</label>

                            <select class="form-control" formControlName="paymenttype">
                                <option value="opt1" disabled>--Select Type--</option>
                                <option value="cash">Cash</option>
                                <option value="card">Card</option>
                                <option value="cheque">Cheque</option>
                                <option value="onlinepay">Online Pay</option>
                                <option value="upi">upi</option>
                            </select>
                        </div>


                    </div>


                    <div class="row mt-3">


                    </div><br>

                    <!-- table start  [formGroup]="registerForm"-->
                    <div class="flow" formArrayName="invoiceDetails">

                        <table aria-describedby="mydesc" class="table styletab">

                            <thead class="stylehead">
                                <tr>
                                    <th scope="col"><input type="checkbox" (click)="selectallprod($event)" /></th>
                                    <!--(click)="selectallprod($event)"-->
                                    <th scope="col">{{'finance.name'| translate}}</th>
                                    <th scope="col">{{'finance.invoiceno'| translate}}</th>
                                    <th scope="col">{{'finance.debitaccount'| translate}}</th>
                                    <!-- <th scope="col" *ngIf="paymentmode != 3">Credit Account </th> -->
                                    <th scope="col">{{'finance.debitamount'| translate}}</th>
                                    <!-- <th scope="col" *ngIf="paymentmode == 5">Credit Amount</th> -->
                                    <th scope="col">{{'finance.balanceamount'| translate}}</th>
                                    <!--         <th scope="col">Bal Amt  </th>   -->

                                </tr>
                            </thead>
                            <tbody class="stylebody">
                                <tr *ngFor="let val of registerForm.controls.invoiceDetails.controls; let i = index"
                                    [formGroupName]="i">
                                    <td>
                                        <input type="checkbox" formControlName="checklist"
                                            id="width1" (click)="selecprod($event,i)" />
                                        <!--(click)="selecprod($event,i)"-->
                                    </td>
                                    <td><input formControlName="personame"  id="width3" readonly /> </td>
                                    <td><input formControlName="invoicename"  id="width4" readonly /> </td>

                                    <td *ngIf="paymentmode != 3 && paymentmode != 5">
                                        <input formControlName="draccname" id="width4" readonly />
                                    </td>
                                    <!-- <td *ngIf="paymentmode != 3 && paymentmode != 5">
                                        <input formControlName="craccname"  id="width4" readonly />
                                    </td> -->
                                    <td *ngIf="paymentmode == 3 || paymentmode == 5" id="width3">
                                        <select formControlName="debitaccountemp" (change)="viewDebitAcc()">
                                            <option *ngFor="let item of accounts ; let i = index" value={{i}}>
                                                {{item[1]}}
                                            </option>
                                        </select>
                                    </td>
                                    <!-- <td *ngIf="paymentmode == 5" id="width3">
                                        <select formControlName="creditaccountemp" (change)="viewCreditAcc()" readonly>
                                            <option *ngFor="let item of accounts ; let i = index" value={{i}}>
                                                {{item[1]}}
                                            </option>
                                        </select>
                                    </td> -->
                                    <td><input formControlName="debitamount" type="number"  id="width3" (blur)="getSum()"/>
                                    </td>
                                    <!-- <td *ngIf="paymentmode == 5"><input formControlName="creditamount" type="number"
                                            class="right" id="width3" /> </td> -->
                                    <td><input formControlName="invoicebalamt"  id="width4" readonly /> </td>
                                </tr>
                                <tr *ngFor="let item of itemlength; let i=index">
                                    <td> <input /> </td>
                                    <td> <input /> </td>
                                    <!-- <td *ngIf="paymentmode != 3"> <input /> </td> -->
                                    <td> <input /> </td>
                                    <td> <input /> </td>
                                    <td> <input /> </td>
                                    <td> <input /> </td>
                                    <!-- <td *ngIf="paymentmode == 5"> <input /> </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table  end-->
                    <br>
                    <div class="pl-5 pr-3" style="border:2px solid #002e86">
                        <div class="row">
                            <div class="col-lg-3 px-2 py-4">
                                <th scope="col" style="font-weight: normal;font-size:1.2em">{{'finance.referenceno'| translate}}</th>
                                <td class="ml-2" style="font-weight:bold; font-size: 1.6em;">
                                    <input type="text" class="form-control" formControlName = "ptrefno">
                                </td>
                            </div>
                            <div class="col-lg-3 px-2 py-4">

                            </div>

                            <div class="col-lg-2 py-4" align="right">
                                <th scope="col" style="font-weight: normal;font-size:1.2em;"> {{'finance.total'| translate}}</th>
                            </div>
                            <div class="col-lg-4" style="background-color: #002e86;color:white;">
                                <label class="" style="font-weight:bold; font-size: 3.1em;">
                                    {{total}}</label><br>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4"
                        *ngIf="paymentmode == 2 || paymentmode == 1 || paymentmode == 3 || paymentmode == 5">
                        <label class="form-label semibold" for="exampleInput"> Ref No
                        </label>
                        <input type="text" class="form-control" formControlName="ptrefno" />
                    </div> -->
                </div><br> <!-- box-typical-->
                <div align="center">
                    <img src="assets/images/saveload.gif" alt="loading" class="mt-2" *ngIf="saveprocess">
                </div>
                <div class="row button">
                    <div class="col-lg-1"></div>

                    <div class="col-lg-3">
                        <button type="button" class="btn-round" (click)="onSubmit()"> {{'finance.save'| translate}} </button>
                        <!-- <button type="button" class="btn-round" [routerLink]="['/Payment/editPayment' ]"> Edit </button> </div> -->
                    </div>
                </div>
                <ng2-toasty [position]="'center-center'"></ng2-toasty>
            </form>
        </div>
        <div class="panel2" style="width:5%;float:right">
            <app-rightpanel [rightpanelData]="parentMessage"></app-rightpanel>
        </div>
    </div>

</app-card>