<app-card>
  <div class="sub-title">View Close Register
    <em class="fa fa-eye ficon"></em>
  </div>
  <div class="panels">
  <div class="panel1" style="width:95%;float:left">
    <div class="" align="right">
      <button type="button" class="btn-round" [routerLink]="['/CloseRegister/CloseRegister']">Close Register</button>
    </div>
    <div class="searchbox" align="center">
      <input type="text" class="search mt-1" placeholder="Search Employee"
      (input)="searchemployee($event.target.value)" autocomplete="off"/>
		</div>
		<div align="center">
			<img src="assets/images/loading.gif" alt="loading" height="100px" *ngIf="gifFail">
		</div>
		<div class="mr-2" align="right">
			<select class="form-control countwidth" [(ngModel)]="rowsOnPage">
				<option [ngValue]="10">10</option>
				<option [ngValue]="25">25</option>
				<option [ngValue]="50">50</option>
				<option [ngValue]="100">100</option>
			</select>
    </div><br>
    <div class="dt-responsive" style="overflow: auto;">
      <table aria-describedby="mydesc" class="table table-striped table-bordered table-responsive full-data-table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Counter No</th>
            <th scope="col">Login Date</th>
            <th scope="col">Login Time</th>
            <th scope="col">Logout Time</th>
            <th scope="col">Expect Amount</th>
            <th scope="col">Closing Amount</th>
            <th scope="col">Differ Amount</th>
            <th scope="col">Closing Details</th>
            <th scope="col">Full Details</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="closeregisterdata.length == 0">
            <td></td>
            <td></td>
            <td></td>
            <td class="nodata">No Data Available</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of closeregisterdata | paginate: { id: 'listing_pagination',
          itemsPerPage: rowsOnPage, currentPage: page }  let i=index">
              <td>{{i+1}}</td>
              <td>{{item[3]}} </td>
              <td>{{item[4]}}</td>
              <td>{{item[5]}}</td>
              <td>{{item[6]}}</td>
              <td>{{item[8]}}</td>
              <td style="text-align:right !important">{{item[9]}}</td>
              <td style="text-align:right !important">{{item[10]}}</td>
              <td style="text-align:right !important">{{item[11]}}</td>
              <td>{{item[12]}}</td>
              <td>
                <em class="fa fa-sticky-note text-secondary" style="cursor:pointer" (click)="cashmovements(item[1],item[13],item[14],item[15])"></em>
              </td>
           </tr>
        </tbody>  
        <tfoot>
          <tr>
            <td colspan="15">
              <pagination-controls id="listing_pagination" directionLinks="true"
              (pageChange)="page = $event" style="float: right;"></pagination-controls>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>  
  </div>
  <div class="panel2" style="width:5%;float:right">
  <app-rightpanel [rightpanelData]="parentMessage"></app-rightpanel>
  </div>
  </div>
</app-card>
<!---Full Details View-->
<div [ngClass]="detailsview?'showtop':'hidetop'">
	<br>
	<div class="mr-2" align="right">
		<em class="fa fa-close fa-2x mr-2" (click)="detailsview=false" style="cursor:pointer;color:white"></em>
	</div>
  <div class="container pt-3" style="overflow:auto;background-color:white;max-height:500px;border-radius: 12px;">
    <label class="text-secondary">Total Opening Balance: <span style="font-weight:bold;">{{totalopenings}}</span></label><br>
    <div class="dt-responsive" style="overflow: auto;">
      <table aria-describedby="mydesc" class="table table-striped table-bordered table-responsive full-data-table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Cash Form</th>
            <th scope="col">Cash Type</th>
            <th scope="col">Time</th>
            <th scope="col">Pay Mode</th>
            <th scope="col">Pay Amount</th>
            <th scope="col">Pay Details</th>
            <th scope="col">Loyalty Amount</th>
            <th scope="col">Gift Amount</th>
            <th scope="col">Due Amount</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="fulldetails.length == 0">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="nodata">No Data Available</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of fulldetails;let i=index">
              <td>{{i+1}}</td>
              <td>{{item[1]}} </td>
              <td>{{(item[2]==1)?'Cash Inwards':'Cash Outwards'}}</td>
              <td>{{item[11]}}</td>
              <td>{{item[3]}}</td>
              <td style="text-align:right !important">{{item[4]}}</td>
              <td>{{item[5]}}</td>
              <td >{{item[7]}}</td>
              <td>{{item[8]}}</td>
              <td>{{(item[9]==null || item[9]==0)?'0':item[9]}}</td>
           </tr>
        </tbody>  
      </table>
    </div>   
	</div>
</div>
  