<app-card>
	
	<div class="sub-title" style="font-size: 20px;">Shop Details
	<em class="fa fa-building-o ficon"></em></div><br>
	<table aria-describedby="mydesc" style="width:100%">
		<tbody>
		 <tr>
		 <td style="width:95%">
			<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
				<div class="row">
		
					<!-- <div class="col-lg-4">
						
							<label class="form-label">
								<h6>Company Name</h6>
							</label>
							<select name="select" class="form-control" formControlName="companyid" (change)="getBranch()">
								<option value="opt1">---Select Company---</option>
								<option *ngFor="let companies of companyrefid1" value={{companies[0]}}>{{companies[1]}}</option>
							</select>
						
					</div>
		
					<div class="col-lg-4">
						<label class="form-label semibold">
							<h6>Branch Name</h6>
						</label>
						<select name="select" class="form-control" placeholder="Select Branch" formControlName="branchid">
							<option value="opt1">---Select Branch Name---</option>
							<option *ngFor="let coun of branchrefid1" value={{coun[0]}}>
								{{coun[1]}}</option>
						</select>
					</div> -->
					<div class="col-lg-4">
							
								<label class="form-label">
									<h6>Shop Name*</h6>
								</label>
								<input type="text" class="form-control"  formControlName="shopname">
								<div class="messages text-danger" *ngIf="myForm.controls.shopname.errors?.required">Enter Shop Name!</div>
								<div class="messages text-danger" *ngIf="myForm.controls.shopname.errors?.pattern">Text only Accepts!</div>
							
						</div>
		
		
						<div class="col-lg-4">
							
								<label class=" form-label">
									<h6>Owner Name*</h6>
								</label>
								<input type="text" class="form-control"  formControlName="ownername">
								<div class="messages text-danger" *ngIf="myForm.controls.ownername.errors?.required">Enter Owner Name!</div>
								<div class="messages text-danger" *ngIf="myForm.controls.ownername.errors?.pattern">Text only Accepts!</div>
							
						</div>
						<div class="col-lg-4">
							
								<label class=" form-label">
									<h6>License Holder Name</h6>
								</label>
								<input type="text" class="form-control"  formControlName="license_holder">
								<div class="messages text-danger" *ngIf="myForm.controls.license_holder.errors?.required">Enter License holder Name!</div>
							
						</div>
				</div>
				<div class="form-group row">
					
					
					<div class="col-lg-4">
							
								<label class="form-label">
									<h6>Registration Number</h6>
								</label>
								<input type="text" class="form-control"  formControlName="phar_registration_no">
								<div class="messages text-danger" *ngIf="myForm.controls.phar_registration_no.errors?.required">Enter Registration Number!</div>
							
						</div>
		
						<div class="col-lg-4">
							
								<label class="form-label">
									<h6>DL Number</h6>
								</label>
								<input type="text" class="form-control" placeholder="Drug License Number" formControlName="dlno">
							
						</div>
			
			
							
						<div class="col-lg-4">
								
									<label class="form-label">
										<h6>TIN</h6>
									</label>
									<input type="text" class="form-control"  formControlName="tinno">
									<div class="messages text-danger" *ngIf="myForm.controls.tinno.errors?.required">Enter TIN Number!</div>
								
							</div>
			
				</div>
		
				<!-- <div class="form-group row"> -->
					
					
					<!-- <div class="col-lg-4">
						
							<label class="col-form-label">
								<h6>GST Number</h6>
							</label>
							<input type="text" class="form-control" placeholder="Goods And ServiceTax" formControlName="gstno">
							<div class="messages text-danger" *ngIf="myForm.controls.gstno.errors?.required">Enter GST Number
							</div>
						
					</div> -->
		
				<!-- </div> -->
		
				<!-- <div class="form-group row"> -->
				
		
					<!-- <div class="col-lg-4">
						
							<label class="col-form-label">
								<h6>CST</h6>
							</label>
							<input type="text" class="form-control" placeholder="Central Service Tax" formControlName="cstno">
						
					</div>
					<div class="col-lg-4">
						
							<label class="col-form-label">
								<h6>PAN</h6>
							</label>
							<input type="text" class="form-control" placeholder="Permanent Account Number" formControlName="panno">
						
					</div> -->
		
				<!-- </div> -->
				<div class="sub-title" style="font-size: 20px;">Contact Details</div>
				<div class="form-group row">
		
					<!-- <div class="col-lg-4">
						
							<label class="form-label">
								<h6>Contact Person</h6>
							</label>
							<input type="text" class="form-control" placeholder="Enter Address" formControlName="address1">
						
					</div> -->
		
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Address1</h6>
							</label>
							<input type="text" class="form-control"  formControlName="address1">
							<div class="messages text-danger" *ngIf="myForm.controls.address1.errors?.required">Enter Address!</div>
						
					</div>
		
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Address2</h6>
							</label>
							<input type="text" class="form-control" placeholder="Enter Address" formControlName="address2">
						
					</div>
		
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Country</h6>
							</label>
							<select name="select" class="form-control" formControlName="country" (change)="getState()">
								<option value="0">---Select Country---</option>
								<option *ngFor="let country of countries" value={{country[0]}}>{{country[1]}}</option>
							</select>
						
					</div>
					
				</div>
				<div class="form-group row">
					
					
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>State</h6>
							</label>
							<select name="select" class="form-control" formControlName="state" (change)="getCity()">
								<option value="0">---Select State---</option>
								<option *ngFor="let state of states" value={{state[0]}}>{{state[2]}}</option>
							</select>
						
					</div>
				
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>City</h6>
							</label>
							<select name="select" class="form-control" formControlName="city">
								<option value="0">---Select City---</option>
								<option *ngFor="let city of cities" value={{city[0]}}>{{city[1]}}</option>
							</select>
						
					</div>
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>ZIP/PIN Code</h6>
							</label>
							<input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control"  formControlName="pincode">
							<div class="messages text-danger" *ngIf="myForm.controls.pincode.errors?.required">Enter Zip/Pin Code!</div>
						
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Phone Number</h6>
							</label>
							<input type="number" class="form-control" placeholder="Enter Phone Number" formControlName="mobileno">
						
						<div class="messages text-danger" *ngIf="myForm.controls.mobileno.errors?.pattern">Numerical Only Allowed Here</div>
					</div>
				
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Email Id</h6>
							</label>
							<input type="text" class="form-control" placeholder="Enter Email Id" formControlName="emailid">
							<div class="messages text-danger" *ngIf="myForm.controls.emailid.errors?.pattern">Invalid Email..</div>
						
					</div>
				</div>
			
				<div class="sub-title" style="font-size: 20px;">Pharmacist Details</div>
				<div class="form-group row">
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Pharmacist Name</h6>
							</label>
							<input type="text" class="form-control"  formControlName="pharmacistname">
							<div class="messages text-danger" *ngIf="myForm.controls.pharmacistname.errors?.required">Enter Pharmacist Name</div>
						
					</div>
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Country</h6>
							</label>
							<select name="select" class="form-control" formControlName="phar_country" (change)="getState1()">
								<option value="0">---Select Country---</option>
								<option *ngFor="let country of countries" value={{country[0]}}>{{country[1]}}</option>
							</select>
						
					</div>
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>State</h6>
							</label>
							<select name="select" class="form-control" formControlName="phar_state" (change)="getCity1()">
								<option value="0">---Select State---</option>
								<option *ngFor="let state of states1" value={{state[0]}}>{{state[2]}}</option>
							</select>
						
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>City</h6>
							</label>
							<select name="select" class="form-control" formControlName="phar_city">
								<option value="0">---Select City---</option>
								<option *ngFor="let city of cities1" value={{city[0]}}>{{city[1]}}</option>
							</select>
						
					</div>
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>ZIP/PIN Code</h6>
							</label>
							<input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control"  formControlName="phar_pincode">
							<div class="messages text-danger" *ngIf="myForm.controls.phar_pincode.errors?.required">Enter Zip/Pin Code!</div>
						
					</div>
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Phone Number</h6>
							</label>
							<input type="number" class="form-control" placeholder="Enter Phone Number" formControlName="phar_contactno1">
						
						<div class="messages text-danger" *ngIf="myForm.controls.phar_contactno1.errors?.pattern">Numerical only Allowed Here..</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						
							<label class="form-label">
								<h6>Email Id</h6>
							</label>
							<input type="text" class="form-control" placeholder="Enter Email Id" formControlName="phar_emailid">
						
						<div class="messages text-danger" *ngIf="myForm.controls.phar_emailid.errors?.pattern">Invalid Email..</div>
					</div>
				</div>
					<div class="col-lg-4">
						
							<button [disabled]="!myForm.valid" type="submit" class="btn-round" style="margin: 26px;">Save</button>
						
					</div>
		
			</form>
		</td>
		  <td style="width:5%" valign="top">
		 <app-rightpanel [rightpanelData]="parentMessage"></app-rightpanel>
		 </td>
		 </tr>
		</tbody>
	</table>			 			 			 			 						

</app-card>
<ng2-toasty [position]="'center-center'"></ng2-toasty>