<app-card>
  <div class="sub-title">{{'finance.profitlossstatement'| translate}}
    <em class="ti-receipt ficon"></em>
  </div>
  <div align="center">
    <img src="assets/images/loading.gif" alt="loading" height="100px" *ngIf="gifFail">
  </div>
  <form [formGroup]="registerForm">
    <div class="box-typical box-typical-padding">
      <!-- <h4><u>Revenue</u></h4> -->
      <div class="row col-lg-12">
        <div class="col-lg-4">

          <label class="form-label">{{'finance.purchases'| translate}}</label>
          <label>{{totpurchase}}</label><br>


          <label class="form-label">{{'finance.openstock'| translate}}</label>
          <label>{{openstk}}</label>



        </div>
        <div class="col-lg-4">


          <label class="form-label">{{'finance.sales'| translate}}</label>
          <label>{{totsales}}</label><br>


          <label class="form-label">{{'finance.closestock'| translate}}</label>
          <label>{{closestk}}</label>

        </div>
        <div class="col-lg-4">
  
            <label class="form-label">{{'finance.grossprofit'| translate}}:</label>

            <label>{{grossprofit}}</label>
          
        </div>
      </div>
      <!-- <div class="row">
       <div class="col-lg-12">
        <div formArrayName="revenue" class="flow">
            <table aria-describedby="mydesc" class="table styletab">
              <thead class="stylehead">
                <tr>
                  <th scope="col">Account Type</th>
                  <th scope="col">Account Name </th>
                  <th scope="col">Balance</th>
                </tr>
              </thead>
              <tbody class="stylebody">
              <tr *ngFor="let address of registerForm.controls.revenue.controls; let i=index" [formGroupName]="i">
                <td><input formControlName="acctype" class="left" id="width5" readonly /></td>
                <td><input formControlName="accname" class="left" id="width6" readonly /></td>
                <td><input formControlName="balance" class="right" id="width4" readonly /></td>
              </tr>
              </tbody>
            </table>
          </div>
      </div>
     </div> -->
      <!-- 1 col-6 table end-->
      <br><br>
      <h4><u>{{'finance.expense'| translate}}</u></h4>
      <div class="row">
        <div class="col-lg-12">
          <div formArrayName="expense" class="flow">
            <table aria-describedby="mydesc" class="table styletab">
              <thead class="stylehead">
                <tr>
                  <th scope="col">{{'finance.accounttype'| translate}}</th>
                  <th scope="col">{{'finance.accountname'| translate}}</th>
                  <th scope="col">{{'finance.balance'| translate}}</th>
                </tr>
              </thead>
              <tbody class="stylebody">
                <tr *ngFor="let address of registerForm.controls.expense.controls; let i=index" [formGroupName]="i">
                  <td><input formControlName="acctype" class="left" id="width5" readonly /></td>
                  <td><input formControlName="accname" class="left" id="width6" readonly /></td>
                  <td><input formControlName="balance" class="right" id="width4" readonly /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- 2col 6 end-->
      </div>
      <!--Row end-->
    </div> <br> <!-- box-typical-->
    <div class="pl-5 pr-3" style="border:2px solid #002e86">
      <div class="row">
        <!-- <div class="col-lg-3 px-2 py-4">
                <th scope="col" style="font-weight: normal;font-size:1.2em">Total Revenue:</th>
                <td class="ml-2" style="font-weight:bold; font-size: 1.6em;">
                    {{totrevenue}}</td>
            </div> -->
        <div class="col-lg-3 px-2 py-4"></div>
        <div class="col-lg-3 px-2 py-4">
          <th scope="col" style="font-weight: normal;font-size:1.2em;">{{'finance.totalexpenses'| translate}}</th>
          <td class="ml-2" style="font-weight:bold; font-size: 1.6em;">
            {{totexpenses}}</td>
        </div>
        <div class="col-lg-2 py-4" align="right">
          <th scope="col" style="font-weight: normal;font-size:1.2em;"> {{'finance.netprofit'| translate}}</th>
        </div>
        <div class="col-lg-4" style="background-color: #002e86;color:white;">
          <label class="" style="font-weight:bold; font-size: 3.1em;">
            {{registerForm.controls.netprofit.value}}</label><br>
        </div>
      </div>
    </div>
  </form>
</app-card>