<app-card>
  <div class="sub-title">View Customize Form Customers
    <em class="fa fa-eye ficon"></em>
  </div>
  <!--Invoice View-->
  <div class="searchbox" align="center">
    <input type="text"  (input)="searchcustomerslist($event.target.value)" class="search" placeholder="Search Customers">
  </div>
  <div align="center">
    <img src="assets/images/loading.gif" alt="loading" height="100px" *ngIf="gifFail">
  </div>
  <div class="mr-2" align="right">
    <select class="form-control countwidth" [(ngModel)]="rowsOnPage">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
    </select>
  </div><br>
	<div class="dt-responsive" *ngIf="!gifFail">
		<div style="overflow-x: auto">
			<table aria-describedby="mydesc" class="table table-striped table-bordered table-responsive full-data-table">
				<thead>
				<tr>
				<th scope="col">S.No </th>  
        <th scope="col">Customer Name</th>
				<th scope="col">Email</th>
				<th scope="col">Mobile No</th>
        <th scope="col">Edition Name</th>
				</tr>
				</thead>
			<tbody>
			<tr *ngFor="let item of customizecustomers | paginate: { id: 'listing_pagination',
					itemsPerPage:rowsOnPage, currentPage: page }let i=index">
				<td>{{i+1}}  </td> 
        <td>{{item[3]}} </td>
				<td>{{item[1]}} </td>
				<td>{{item[2]}} </td>
        <td style="text-align: left !important">{{item[5]}} </td>
				</tr>
        <tr *ngIf="(customizecustomers) == 0">
          <td></td>
          <td></td>
          <td class="nodata">No Data Available</td>
          <td></td>
          <td></td>
        </tr>					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="10">
							<pagination-controls id="listing_pagination" directionLinks="true"
								(pageChange)="page = $event" style="float: right;"></pagination-controls>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div><!---Invoice View End-->
</app-card>