<style>
  .md-line{
	position: absolute;
	margin: 0.6em -1.5em;
	font-size: 21px;
	color: darkgrey;
	}
</style>

<app-card>
  <div class="conatiner" align="center">
    <h4 class="text-center text-secondary my-4">Change Password?</h4><br>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <form [formGroup]="changepasswordForm">
          <div class="my-2">
            <div><input [type]="showpassflag1 ? 'text' : 'password'" class="sign-control" placeholder="Current Password" formControlName ="currentpassword"/>
              <span class="md-line" style="cursor:pointer"><em [ngClass]="showpassflag1 ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="showpass(1)"></em></span>
            </div><br>
            <div><input type="password" class="sign-control" placeholder="New Password" formControlName ="newpassword"/>
              <span class="md-line"></span></div><br>
            <div><input [type]="showpassflag2 ? 'text' : 'password'" class="sign-control" placeholder="Confirm Password" formControlName ="confirmpassword"/>
            <span class="md-line" style="cursor:pointer"><em [ngClass]="showpassflag2 ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="showpass(2)"></em></span>
            </div><br>
            <button class="sign-btn" style="font-size:17px;height:48px" (click)="savepassword()">Change Password</button>
            <span class="md-line"></span><br><br>
            <ul style="list-style-type:square;text-align: left;font-size:14px" class="text-secondary pl-3">
              <li>Password Must be a Minimum 6 Characters</li>
              <li>Password Must Contains One Uppercase & Lowercase</li>
              <li>Password Must Contains One Number</li>
              <li>Password Must Contains One Special Character</li>
            </ul> 
          </div><br>
          <ng2-toasty [position]="'center-center'"></ng2-toasty>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</app-card>


