<div align="center" class="conatiner px-2 py-4">
    <br><br>
    <div class="container card" style="border-radius:17px;min-height:20%;">
      <br>
      <div align="center">
        <img src="assets/images/cloudlogo.png" alt="logo" style="width:251px;height:53px"/><br>
      </div><br><br>
      <!-- <span style="font-weight:bold;" class="pl-1">{{location}}</span>-->
      <h4 class="text-secondary">We Couldn't find you entered Web Link</h4><br>
      <h5>You can Purchase<a [routerLink]="['/pricing/viewprice']" class="pl-2" style="font-size:19px">Sign Up</a></h5><br>
    </div>
</div>
