<style>
    .nodata {
      text-align: center;
      width: 100%;
      padding: 10px;
      font-size: 25px;
      color: rgb(245, 50, 50);
      font-family: Verdana, Geneva, sans-serif;
    }
    .action
      {
        font-size: 15px;
        color: #002e86; 
      }
      .action1
      {
        font-size: 15px;
        color: red;
      } 
     
    </style>

<app-card>

  <div class="panels">
    <div class="panel1" style="width:95%;float:left">
      <div class="mr-2" align="right">
        <button type="button" class="btn-round" [routerLink]="['/PatientAlert/SendPatientAlert']">{{'patientalert.addpatientalert'| translate}}</button>
      </div>
      <div class="searchbox" align="center">
        <input type="search" [(ngModel)]="filterQuery" class="search" placeholder="Search Customer Name" autofocus>
        <!-- <input type="search" [(ngModel)]="filterQuery1" class="form-control w-50" placeholder="Search Customer Mobile" autofocus> -->
      </div>
      <div align="center">
        <img src="assets/images/loading.gif" alt="loading" height="100px" *ngIf="gifFail">
      </div>
      <div class="mr-2" align="right">
        <select class="form-control countwidth" [(ngModel)]="rowsOnPage">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
      </div><br>
  <!-- <div class="panel-heading">User information</div>-->
  <div class="dt-responsive" style="overflow-x:auto">
    <table aria-describedby="mydesc" class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
      #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th scope="col">
            <mfDefaultSorter by="sno">S.No</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="empfirstname">{{'patientalert.patientname'| translate}}</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="department">{{'patientalert.message'| translate}}</mfDefaultSorter>
          </th>       
          <th scope="col">
            <mfDefaultSorter by="desgination">{{'patientalert.address1'| translate}}</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="desgination">{{'patientalert.product'| translate}}</mfDefaultSorter>
          </th>
          <!-- <th scope="col">
            <mfDefaultSorter by="desgination">Name</mfDefaultSorter>
          </th> 
          <th scope="col">
            <mfDefaultSorter by="Action">Action</mfDefaultSorter>
          </th> -->
        </tr>
        <tr>
        </tr>
      </thead>
      <tbody>
          <tr *ngIf="(data | dataFilter : filterQuery) == 0">
							<td></td>
							<td class="nodata">No matching Records found....</td>
							<td></td> 
              <td></td>     
              <td></td> 
              <td></td>  
              <td></td>   
							</tr>  	
        <tr *ngFor="let val of mf.data;let i=index">
          <td>{{i+1}}</td>
          <td>{{val[0]}}</td>
          <td>{{val[2]}}</td>
          <td>{{val[5]}}</td>
          <td>{{val[7]}}</td>
          <!--<td>{{val[8]}}</td>
              <td ngbDropdown class="text-center">
            <a ngbDropdownToggle class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">
              <em class="icofont icofont-ui-settings"></em>
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              
            </div>
          </td> -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>


</div>
<div class="panel2" style="width:5%;float:right">
<app-rightpanel [rightpanelData]="parentMessage"></app-rightpanel>
</div>
</div>	
</app-card>