<style>

	.td1{
		background-image: url("assets/images/plantbg.jpg");
		height: 100%; 
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width:70%;
		color:white;
		font-family:Montserrat;
	}

	.td2{
		background-color: white;
		width:30%;
		padding:7em 1.3em;
	}

	.md-line{
	position: absolute;
	margin: 0.6em -1.5em;
	font-size: 21px;
	color: darkgrey;
	}

	@media (max-width:580px){
		.td1{
			display:none;
	}

	}

	@media (max-width:1200px){
		.td1{
			width:60%;
		}

		.td2{
			width:40%;
		}

	}
	
</style>

<table aria-describedby="mydesc" style="width:100%;height:100%">
	<tbody>
	<tr>
		<td class="td1">
		  <img src="assets/images/cloudlogo.png" alt="logo" style="height:51px;width:251px;position:absolute;top:1em;left:2em"><br>
      <div class="" align="center" style="padding-left:19em;padding-top:21em">
        <table aria-describedby="mydesc">
          <tr><h2 class="text-secondary" style="font-family: 'Mada', sans-serif;font-weight:bold">Welcome You!...</h2></tr>
          <!-- <tr> <h5 class="text-secondary" style="font-family: 'Mada', sans-serif">Change your account password and make your self more securely Medeil POS</h5></tr> -->
        </table>
			</div>
		  </td>
		  <td class="td2">
			<div class="" align="center">
        <h4 class="text-center text-secondary my-4">Setup a New Password?</h4><br>
        <form [formGroup]="directforgotForm">
          <div>
            <div><input type="password" class="sign-control" placeholder="New Password" formControlName ="newpassword"  />
              <span class="md-line"></span></div><br>
            <div><input [type]="showpassflag ? 'text' : 'password'" class="sign-control" placeholder="Confirm Password" formControlName ="confirmpassword"/>
			  <span class="md-line" style="cursor:pointer"><em [ngClass]="showpassflag ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="showpass()"></em></span>
			</div><br>
            <button class="sign-btn" style="font-size:17px;height:48px" (click)="savepassword()">Save Password</button>
            <span class="md-line"></span>
          </div><br>
          <!-- <div class="" align="right">
            <label class="" (click)="showpasspattern()" style="cursor:pointer" [style.color]="showpattern ? 'brown':'#002e86'">Password Pattern?</label>
          </div> -->
          <ul style="list-style-type:square;text-align: left;font-size:14px" class="text-secondary pl-3">
            <li>Password Must be a Minimum 6 Characters</li>
            <li>Password Must Contains One Uppercase & Lowercase</li>
            <li>Password Must Contains One Number</li>
            <li>Password Must Contains One Special Character</li>
          </ul>  
          <ng2-toasty [position]="'center-center'"></ng2-toasty>
        </form>
			</div>
		  </td>
	</tr>
	</tbody>
</table>